:root {
  --color-white: #fafafa;

  --color-grey-100: #2a2a2a;
  --color-grey-200: #494949;
  --color-grey-300: #5f5f5f;
  --color-grey-400: #727272;
  --color-grey-500: #8b8b8b;
  --color-grey-600: #a4a4a4;
  --color-grey-700: #bcbcbc;
  --color-grey-800: #d4d4d4;
  --color-grey-900: #ededed;

  --color-default: var(--color-grey-200);

  --color-red: rgb(179, 32, 32);
  --color-yellow: rgb(194, 180, 117);

  --color-border: #fff;
  --color-background: #f2f2f2;
  --color-title: var(--color-grey-700);
  --color-icon: var(--color-grey-500);
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  font-family: 'Comfortaa', Helvetica Neue, Helvetica;
  color: var(--color-default);
  transition: all 0.25s ease-in-out;
}

body.--dark {
  --color-border: var(--color-grey-400);
  --color-default: var(--color-grey-900);
  --color-background: var(--color-grey-200);
  --color-title: var(--color-grey-400);
  --color-icon: var(--color-grey-600);
}

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.-offset {
  margin-top: 1rem;
}
.-offset.--large {
  margin-top: 2rem;
}
.-offset.--xlarge {
  margin-top: 3rem;
}
.-offset.--huge {
  margin-top: 4rem;
}

.-icon {
  height: 1em;
  width: 1em;
  vertical-align: middle;
  line-height: normal;
  color: var(--color-icon);
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }

  .-offset {
    margin-top: 0.75rem;
  }
  .-offset.--large {
    margin-top: 1.25rem;
  }
  .-offset.--xlarge {
    margin-top: 2rem;
  }
  .-offset.--huge {
    margin-top: 3rem;
  }
}
