:root {
  --color-default: #2a2a2a;
  --color-grey: #4c4c4c;
  --color-red: rgb(179, 32, 32);
  --color-yellow: rgb(194, 180, 117);

  --color-border: #fff;
  --color-background: #f2f2f2;
  --color-title: #afafaf;
  --color-icon: #6a6a6a;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  font-family: 'Comfortaa', Helvetica Neue, Helvetica;
  color: var(--color-default);
}

body.--dark {
  --color-border: #272727;
  --color-default: #eaeaea;
  --color-background: #333;
  --color-title: #6a6a6a;
  --color-icon: #c5c5c5;
}

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.-offset {
  margin-top: 1rem;
}
.-offset.--large {
  margin-top: 1.5rem;
}

.-icon {
  height: 1em;
  width: 1em;
  vertical-align: middle;
  line-height: normal;
  color: var(--color-icon);
}

.notification {
  font-size: 0.9rem;
  padding: 1em;
  border: 2px solid var(--color-grey);
  border-radius: 0.5em;
}

.notification.--error {
  color: var(--color-red);
  border-color: var(--color-red);
}

.notification.--warning {
  color: var(--color-yellow);
  border-color: var(--color-yellow);
}

.layout {
  position: relative;
  margin: 2rem auto;
  height: calc(100vh - 4rem);
  max-width: 38rem;
  background-size: 100vw 100vh;
  transition: background-color 1s ease-in-out;
}
  .layout-header {
    color: var(--color-title);
  }
    .layout-header > h1 {
      font-size: 0.75em;
      text-transform: lowercase;
    }

.layout-main {
  margin-top: 4rem;
}
  .layout-main h2 > {
    margin: 0;
  }

  .layout-section {
    flex: 1;
  }

  .layout-summary {
    position: fixed;
    top: 5rem;
    right: 6%;
    z-index: 0;
    opacity: 0.05;
    text-align: center;
  }

    .summary img {
      width: 25rem;
      max-width: 80vw;
    }

  .daily {
    margin-top: 3rem;
  }
    .daily-degs {
      display: flex;
    }
      .deg-major {
        margin-left: -0.4rem;
        font-size: 10rem;
      }
      .deg-aside {
        margin-left: 2rem;
      }
        .deg-minor {
          padding-bottom: 0.25em;
          border-bottom: 3px solid var(--color-border);
          font-size: 1.25em;
          line-height: 3em;
        }

    .daily-hilo {}

      .daily-hilo ul {
        display: inline-block;
        margin-right: 1rem;
        vertical-align: middle;
      }
        .daily-hilo li:not(:first-child) {
          margin-top: 0.5em;
        }
          .daily-hilo li > span {
            display: inline-block;
            width: 4em;
          }
          .daily-hilo li > span:last-child {
            padding-left: 2em;
            border-left: 1px solid #ccc;
          }
      .daily-hilo .-icon {
        height: 2.5em;
        width: 2.5em;
      }

  .weekly {
    margin-top: 4rem;
  }
    .weekly-days {
      display: flex;
    }
      .weekly-day {
        position: relative;
        min-width: 7em;
        border-top: 3px solid var(--color-border);
      }
      .weekly-day:not(:first-child) {
        margin-left: 3rem;
      }
        .weekly-day strong {
          display: block;
          padding: 1rem 0;
          font-size: 1em;
          text-transform: uppercase;
        }
        .weekly-day-temperature {
          display: flex;
        }
        .weekly-day-temperature:not(:first-of-type) {
          margin-top: 0.5em;
        }
          .weekly-day-temperature > span:first-child {
            width: 2em;
          }
          .weekly-day-temperature > span:last-child {
            flex: 1;
            margin-left: 0.5em;
          }
          .weekly-day-temperature .temperature {
            margin-left: 1em;
            text-align: right;
          }

          /* .weekly-day::after {
            content: '';
            position: absolute;
            bottom: 0;
            right: -0;
            width: 6px;
            height: 3rem;
            border-radius: 6px;
            background-repeat: no-repeat;
            background-size: 6px 3rem;
            background-image: linear-gradient(to top, 
              hsla(266,44%,37%,1) 0%,
              hsla(225,41%,31%,1) 10%,
              hsla(199,47%,46%,1) 50%,
              hsla(50,58%,40%,1) 76%,
              hsla(28,57%,40%,1) 90%,
              hsla(5,67%,33%,1) 100%);
            background-image: linear-gradient(to top, hsla(203,60%,60%,0.75) 0%,hsla(19,85%,53%,0.75) 100%);
            opacity: 0.33;
          }
          .weekly-day:hover::after {
            opacity: 1;
          } */

  .layout-hourly {
    margin-left: 2rem;
    padding-left: 2rem;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
  }

      .hourly-item > span {
        display: table-cell;
        padding-top: 0.66em;
        padding-right: 0.25em;
        white-space: nowrap;
      }

.theme-button {
  position: fixed;
  top: 1rem;
  right: 1rem;
}

  .theme-button-button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }

    .theme-button svg {
      height: 1.5em;
      width: 1.5em;
    }

.slider {
  margin: 0 auto;
  padding-top: 2rem;
  text-align: center;
}
.slider > input {
  width: 30rem;
}
